html, body {
    display: block;
    font-size: 16px;
    font-family: 'lato', sans-serif;
    background: white;
    position: relative;
    margin: 0 auto;
}

h1 {
    width: 100px;
    height: 100px;
    display: inline-block;
    /* centralizar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* centralizar */
    top: 300px;
}

header {
    display: block;
    background: aqua;
    position: relative;
    width: 100%;
    height: 400px;
}

.container {
    /* é necessário criar vários blocos até chegar a posição 
    que gostaria ou definir valores para o top, bottom, left e right 
    */
    display: block;
    background: aqua;
    height: 50%;
    width: 25%;
    box-sizing: border-box;
    position: relative;
}

.container2 {
    display: inline-block;
    background: aqua;
    height: 60%;
    width: 10%;
    box-sizing: border-box;
    position: relative;
    bottom: 100px
}

.container3 {
    display: inline-block;
    background: aqua;
    height: 50%;
    width: 25%;
    border: 4px solid black;
    box-sizing: border-box;
    position: relative;
}

.btn {
    width: 10%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    display: inline-block;
    float: right;
    position: relative;
    bottom: 70px;
    left:1%  
}
.btn2 {
    width: 10%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    display: inline-block;
    float: right;
    position: relative;
    bottom: 40px;
    right: 1%;  
}
